td, th {
    border: 1px solid #ddd;
    padding: 8px;
  }

.redColor{
    color: red;
  }


  label {
    width:180px;
    clear:left;
    text-align:left;
    padding-right:10px;
}

input, label {
    float:left;
  
}